<!-- <div id='signin' ng-controller='AuthController'>

  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text'ng-model='user.username'>
    <input type="password" ng-model='user.password'>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div> -->

<div id='signin' ng-controller='AuthController'>

  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input type='text' ng-model='user.username' name="user"  required = "" />
    <div class='error' ng-show="signinForm.user.$error.required && signinForm.user.$touched">Put sumthin in, dawg</div>

		<input type="password" name="password" ng-model='user.password' required>
		<div class='error' ng-show="signinForm.password.$error.required && signinForm.password.$touched">YOU NEED A PASSWORD HOMMIE</div>
    <button ng-disabled='signinForm.$invalid'>signin</button>
  </form>
  <a href="#/signup"> Don't have an account?<strong>Signup</strong> ...</a>
</div>